*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
.idea
tmp
*.egg-info

.env
/**/.env

/**/.venv
/**/.idea
/**/tmp/

node_modules
/**/node_modules

.serverless
/**/.serverless

*.xlsx
/**/*.xlsx
*.csv
/**/*.csv
*.zip
/**/*.zip
*.log
/**/*.log
*.ipynb
/**/*.ipynb

**/.build/

# CDK asset staging directory
.cdk.staging
cdk.out

.terraform/
/**/.terraform/

tfplan
/**/tfplan

*.tfstate
/**/*.tfstate

*.tfstate.backup
/**/*.tfstate.backup

.terraform.tfstate.lock.info
/**/.terraform.tfstate.lock.info

.terraform.lock.hcl
/**/.terraform.lock.hcl
